{% load static %}

<header id="header">
    <div class="image-wrap">
        <img src="{% static 'index/img/bg.jpg' %}">
    </div>
    <div class="container">
        <h1><a href=""><img src="{% static 'index/img/logo.png' %}" alt="" class="img-fluid"></a></h1>
        <h2>Slowly but <span>Surely</span></h2>
        <div id="navbar" class="nav justify-content-center">
            <a class="nav-link" href="#contact">
                <button type="button" class="btn">Contact Us</button>
            </a>
        </div>

    </div>
</header><!-- End Header -->