{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="vh-100" style="background-color: #212529;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-5">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-4 p-lg-5 text-black">

                        <div class="d-flex justify-content-center mb-3 pb-1">
                            <img src="{% static 'home/img/logo-2.png' %}">
                        </div>

                        <h4>Enter new password</h4>
                        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>


                        <form method="POST">
                            {%csrf_token%}

                            <div class="form-outline mb-4">
                                <div class="form-floating">
                                    <input type="password" name="new_password1" required="" class="form-control"
                                           id="id_new_password1">
                                    <label for="id_new_password1">New password:</label>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <div class="form-floating">
                                    <input type="password" name="new_password2" required="" class="form-control"
                                           id="id_new_password2">
                                    <label for="id_new_password2">Confirm password:</label>
                                </div>
                            </div>

                            {% if form.non_field_errors %}
                            <div class='form-errors'>
                                {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <input class="w-100 btn btn-default mb-3" type="submit" value="Change Password">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}