{% load static %}

<div id="layoutSidenav_nav">
    <nav class="sidenav accordion sidenav-dark" id="sidenavAccordion">
        <div class="sidenav-menu">

            <div class="nav">

                <form action="{% url 'search_results' %}" method="get">

                    <div class="sidenav-menu-heading">Search Date</div>
                    <div class="form-group">
                        <label for="DateMin">Date From</label>
                        <input type="date" class="form-control search-menu" id="DateMin" name="date_min">
                    </div>
                    <div class="form-group">
                        <label for="DateMax">Date To</label>
                        <input type="date" class="form-control search-menu" id="DateMax" name="date_max">
                    </div>

                    <div class="sidenav-menu-heading">Search Name</div>
                    <div class="form-group">
                        <div class="input-group sidebar-search">
                            <input type="search" class="form-control search-menu" name="name" placeholder="Search Name...">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="sidenav-menu-heading">Search By:</div>
                    <div class="form-group">
                        <label for="inquiry_type">Inquiry Type</label>
                        <select id="inquiry_type" class="form-control search-menu" name="inquiry_type">
                            <option selected>Choose...</option>
                            {% for inquiry_type in inquiry_type %}
                            <option value="{{ inquiry_type }}">{{ inquiry_type }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status" class="form-control search-menu" name="status">
                            <option selected>Choose...</option>
                            {% for status in status %}
                            <option value="{{ status }}">{{ status }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <button type="submit" class="btn btn-default">Search</button>

                </form>

            </div>

        </div>
        <div class="sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>