{% load static %}

<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-5 px-0">
                <div class="contact-img">
                </div>
            </div>
            <div class="col-7 mt-5 pb-4 px-4">
                <form method="post" id="inquiriesForm" data-cities-url="{% url 'ajax_load_cities' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <label for="last_name" class="form-label">Last Name</label>
                            {{ form.last_name }}
                        </div>
                        <div class="col-md-4">
                            <label for="first_name" class="form-label">First Name</label>
                            {{form.first_name}}
                        </div>
                        <div class="col-md-4">
                            <label for="middle_name" class="form-label">Middle Name</label>
                            {{form.middle_name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="email" class="form-label">Email</label>
                            {{form.email}}
                        </div>
                        <div class="col-md-4">
                            <label for="phone_number" class="form-label">Phone No.</label>
                            {{form.phone_number}}
                        </div>
                        <div class="col-md-4">
                            <label for="mobile_number" class="form-label">Mobile No.</label>
                            {{form.mobile_number}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="address" class="form-label">Address</label>
                            {{form.address}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label for="state" class="form-label">State</label>
                            {{form.state}}
                        </div>
                        <div class="col-md-5">
                            <label for="city" class="form-label">City</label>
                            {{form.city}}
                        </div>
                        <div class="col-md-2">
                            <label for="inputZip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="inquiry_type" class="form-label">Type of Inquiry</label>
                            {{form.inquiry_type}}
                        </div>
                    </div>
                    <div class="col mt-3 mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                   required>
                            <label class="form-check-label" for="invalidCheck2">
                                Agree to terms and conditions
                            </label>
                        </div>
                    </div>
                    <button class="btn" type="submit">Submit form</button>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->